.weather__container::after {
  transform: skewY(10deg);
}

.weather__info {
  @apply flex items-center gap-[.75em];
}

.weather__info i {
  @apply text-[2em] text-neutral-950;
}

.weather__btn {
  -webkit-box-shadow: 0px 6px 5px -1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 6px 5px -1px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 6px 5px -1px rgba(0, 0, 0, 0.51);
}
